
        :root {
            --primaryColor: #1D4354;
            --secondaryColor: #5BBC2E;
            --dark-color: #5BBC2E;
            --medium-color: #82DD58;
            --light-color: #9FE280;
        }
        